@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}


.side_logo{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    height: 60px;
    filter: drop-shadow(2px 2px 5px rgb(70, 70, 70));
    z-index: 5;
}

h1{
    text-shadow: 0 0 2px;
    letter-spacing: 5px;
    color: white;
}

h2{
    padding-top: 30px;
    padding-bottom: 40px;
    color: white;
    font-weight: 800;
}

.description{
    padding-left: 300px;
    padding-right: 300px;
}

.my_navbar{
    width: 100%;
    overflow: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.356);
    box-shadow: 0 5px 8px 0 rgba(152, 150, 150, 0.697);
    z-index: 10;
    top: 0;
    position: fixed;
}

.navbar-brand{
    margin-right: 50px;
}

.navbar_btn{
    list-style-type: none;
}

.nav_item{
    padding: 10px;
}

.nav_btn:hover{
    color: rgba(255, 111, 0, 0.84);
}

#wrapper{
    height: 100vh;
    overflow-y:auto;
    overflow-x: hidden;
    perspective:10px;
}

.contain{
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100%;
    transform-style: preserve-3d;
    flex-direction: column;
}

.btn{
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    font-weight: 500;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.697);
}

.btn:hover{
    color: rgb(255, 98, 0);
    background-color: rgba(0, 0, 0, 0.662);
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    transform:translateZ(-40px) scale(6);
    object-fit: cover;
}

section{
    background-color: rgb(52, 52, 52);
    color: white;
    position: absolute;
    width: 100%;
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.bg1{
    background-image: url(chineese.png);
}

.bg2{
    background-image: url(drinks.png);
}

.bg3{
    background-image: url(non-veg.png);
}

.bg4{
    background-image: url(Indian-food.png);
}

.bg5{
    background-image: url(form-img.png);
}

.food_item{
    margin: 20px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.386);
    width: 340px;
    margin-bottom: 50px;
}

.food_item:hover{
    box-shadow: 0 8px 15px 0 rgba(255, 111, 0, 0.84);
    transform: scale(1.04);
    transition: 0.3s;
}

.food_img{
    padding: 10px;
    border-radius: 20px;
}

.container{
    padding: 10px;
    text-align: center;
}

.foods{
    text-align: center;
}

hr{
    width: 70%;
    margin: auto;
    color: white;
}

.social_icons{
    padding: 5px;
}

.submitButton
{
    width: 200px;
    color: orangered;
    font-weight: 700;
}

textarea
{
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border: white;
}

textarea:hover{
    box-shadow: 0 6px 12px 0 rgba(211, 5, 5, 0.484);
}

.input{
    border-radius: 8px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    border: white;
}

.input:hover{
    box-shadow: 0 6px 12px 0 rgba(211, 5, 5, 0.484);
}

.select_class{
    border-radius: 5px;
}

.my_form{

    width: 600px;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 6px 10px 0 rgba(37, 37, 37, 0.697);
    padding: 20px;
    margin-bottom: 50px;
}

.my_form:hover{
    box-shadow: 0 8px 15px 0 rgba(255, 111, 0, 0.84);
    transform: scale(1.03);
    transition: 0.3s;
}


/* footer */

.footer{
    display: flex;
}

.Footer{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 100%;
}

.tagline{
    width: 70%;
    text-align: center;
}

.box{
    padding: 30px;
    color: white;
}

#box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 30%;
    border-right: 2px solid white;
    height: 40%;
    margin: auto;
}

#box2{
    flex-basis: 25%;
}

#box3{
    flex-basis: 25%;
}

#box4{
    flex-basis: 30%;
}

.footer_link{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.footer_link:hover{
    color: rgb(255, 81, 0);
}



@media (width <= 900px){
    .navbar_btn{
        display: block;
    }
    .side_logo{
        margin: 25px;
    }
    .description{
        padding-left: 40px;
        padding-right: 40px;
    }
    .bg{
        height: 400px;
    }
    .my_form{
        width: 80%;
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }

    #box1{
        border-right: none;
    }
  
    .tagline{
        width: 80%;
        text-align: center;
    }
}